# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django database
db.sqlite3

# Uploaded files
media/
resumes/

# Static collected files
staticfiles/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db